.navbar{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    background: rgb(92, 24, 140);
    height: 40pt;
    width: 100%;
    font-size: 20pt;
    color: black;
    position: fixed;
    padding: 30pt 10pt 35pt 10pt
}

.about{
    font-size: 20pt;
    color: white;
}

.serv{
    font-size: 20pt;
    color: white;
}

.port{
    font-size: 20pt;
    color: white;
}