.footer{
    background: rgb(225, 225, 225);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0pt 20pt 0pt 30pt;
    height: 40pt;
    width: 100%;
    font-size: 20pt;
}

.contact{
    font-size: 15pt;
    color: black;
}

.email{
    font-size: 15pt;
    color: black;
}