.footer{
    background: rgb(92, 24, 140);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0pt 30pt 0pt 30pt;
    height: 40pt;
    width: 100%;
    font-size: 20pt;
}

.contact{
    font-size: 15pt;
    color: white;
}

.email{
    font-size: 15pt;
    color: white;
}