h1 {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 50px;
    text-align: center;
    display: block;
    border-style: groove;
    border-color: #000;
}

h2 {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 25px;
    text-align: center;
    display: block;
    text-decoration: underline;
}

p {
    display: inline-block;
    width: 30%;
    padding: 20px;
    border: solid 1px;
}



img {
    margin: 0 auto;
    display: block;
    height: 300pt;
    width: 400pt;
    padding: 10pt;
    border: solid 3pt;
}

.yeet {
    color: red;
}

.health{
    text-decoration-line: underline;
}

.blah{
    text-transform: uppercase;
}

.yaga{
    font-weight: bold;
}

.ppp{
    text-transform: uppercase;
    font-weight: bold;
}

.potato{
    text-transform: uppercase;
    color: blue;
}

.flab{
    text-transform: uppercase;
    color: green;
}